include README.rst LICENSE tox.ini .flake8
recursive-include tests *.py
recursive-include examples *.py
recursive-include extras *.py
include docs/_static/PLACEHOLDER
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include examples *.py
recursive-include examples *.sh
recursive-include extras *.rst
recursive-include mido *.py
recursive-include docs/images *.svg
prune docs/_build
