include README.rst LICENSE CHANGELOG.rst tests.py run_tests.py
include examples/*.py
include extras/*.py
include docs/_static/PLACEHOLDER
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include examples *.py
recursive-include examples *.sh
recursive-include extras *.rst
